@import "preboot.less";

#major-categories {

 

  g {
    position:relative;

    div {
      width: 200px;
      height: 100px;
      background: black;
      position: absolute;
      top:0px;
      left:0px;
    }

    .overlabel {
      visibility: hidden;
    }

    &.hover .overlabel {
      visibility: visible;
    }

  }

  circle {
    stroke:#888;
    fill:#fff;
    cursor:pointer;
//    stroke-width:2;
  }

  text.label {
    //stroke:#ffffff;
    font-family: "Montserrat";
    text-transform:uppercase;
    font-weight: 300;
    font-size:12px;
    text-anchor: middle;
    cursor:pointer;
    //opacity:0;
    //.transition(opacity 1s);

  }

  &.visible-label text.label {
    opacity:1;
  }

  text.value {
    font-family: "Oswald";
    fill:#999;
    font-weight: 300;
    text-anchor:middle;
    cursor:pointer;
  }

  rect.overlabel {
    width: 100px;
    height: 100px;
    fill: rgba(0,0,0,0.8);
    z-index:1;
  }

  text.overlabel {
    font-family: "Montserrat";
    text-transform:uppercase;
    font-weight: 300;
    font-size:11px;
    fill:#fff;
    z-index:2;
  }


}