@import "preboot.less";

#major-categories {

  display:none;

  g {
    position:relative;

    div {
      width: 200px;
      height: 100px;
      background: black;
      position: absolute;
      top:0px;
      left:0px;
    }
  }

  &.visible {
    display:block;
  }

  circle {
    stroke:#888;
    fill:#fff;
//    stroke-width:2;
  }

  text.label {
    //stroke:#ffffff;
    font-family: "Montserrat";
    text-transform:uppercase;
    font-weight: 300;
    font-size:12px;
    text-anchor: end;
    opacity:0;
    .transition(opacity 1s);


  }

  &.visible-label text.label {
    opacity:1;
  }

  text.value {
    font-family: "Oswald";
    fill:#999;
    font-weight: 300;
    text-anchor:middle;
  }
}